@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center display-3">
        @ViewData["Title"]
    </h1>
    <div>
        @Html.Partial("MainUserInfo", Model.mainUserInfo)
    </div>
</div>
